replicaCount: 1

image:
  repository: localhost:5000/ai-speech-ingress-service
  tag: latest

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 1

service:
  type: ClusterIP
  port: 50051

grpc:
  port: 50051

ingress:
  enabled: true
  type: istio

kafka:
  enabled: true
  brokers: "k3a-kafka.infra.svc.cluster.local:9092"
  topicPartial: "interaction.transcript.partial"
  topicFinal: "interaction.transcript.final"
  principal: "svc-speech-ingress"

env: {}
