apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.grpc.port }}
      protocol: TCP
      name: grpc
    {{- if .Values.observability.metrics.enabled }}
    - port: {{ .Values.observability.metrics.port }}
      targetPort: {{ .Values.observability.metrics.port }}
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    app: {{ .Release.Name }}
